@import "tailwindcss";

:root {
  --background: #f2f6f4;
  --foreground: #0f172a;
}

body {
  background-color: #f2f6f4;
  color: #0f172a;
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
}

